body {
   
    background-color: white;
    margin: 0;
    padding: 0;
}

#centerContent {
    margin: 0 auto;
    width: 50%; /* 960px is standard */
    background-color:peachpuff;
    text-align: center;
}
.textbox{
    border-radius: 5px;
}
.errorMessage {
    font-weight: bold;
    background-color: yellow;
    color: red;
}

#carouselExampleIndicators{
    padding-top:50px;
    margin-top: 50px;   
}

#form{
    color: black;
     background-color: darksalmon;
    border-radius: 25px;
    padding: 20px;
    margin-top:50px;
    margin-left:50px;
    margin-right:50px;
    text-align: center;
    border:solid black 1px;
}

.text-center{
    text-align: center;
    font-weight: bold;
}


nav{
	background-color:peru;
}

.container{
	background-color:#ffffff;
}
#name{
		font-family: 'Patua One', cursive;
}

.carousel-item {
  margin-top: 10px;
  height: 100vh;
  min-height: 250px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-light .navbar-brand  {
	color:blue;
}

h2{
        
	font-family: 'Volkhov', serif;
	color:darkgreen;
}
 h3{
        
	font-family: 'Volkhov', serif;
	color:white;
  }
  
  
#carouselPart{
	padding-top:100px;
}

#contact{
	margin-bottom:50px;
}

#register,#login,#logout,#contact{
    
	 padding-top:100px;
	 padding-bottom:25px;
 }

 #sticky-footer {
	flex-shrink:1;
        background-color: pink;
}

 footer{
	background-color: pink;
}


/* CUSTOMER REVIEW CSS */
h1.testimonials-header{
    font-family: "Univers57-Condensed", sans-serif;
    font-size: 18pt;
    line-height: 1.1;
    text-transform: uppercase;
    font-weight: normal;
    padding: 6px;
}
section#home-reviews{
	margin: 50px 6px 50px 6px;
	padding: 50px 0;
	font-family: "Univers57-Condensed", sans-serif;
    color: #5d564f;
    background: #f7f7f7;
}
section#home-reviews h2{
	font-size: 1.75rem;
	text-transform: uppercase;
	margin-bottom: 50px;
}
.fa-quote-left{
	padding-right: 10px;
}
.fa-quote-right{
	padding-left: 10px;
}
section#home-reviews p{
	font-size: 13pt;
}
.stars{
	color: #BB8B41;
}

#googleMaps{
    background-color: gray;
    
}