{% extends "master.html.twig" %}

{% block content %}
    <h2 class="errorMessage">Access Denied</h2>
    <br><br>
    <h3>Click <a href="/"> here </a> to continue.</h3>
{% endblock %}   

{% block title %}Access denied{% endblock %}