{% extends "master.html.twig" %}
{% block title %}Order Page{% endblock %}

{% block content %}
     <div id="centerContent">
        <form method="get" id="form" action="/order">
    <h2>Confirm You're Order </h2> <br>
   
    <p>PizzaId      :  {{pizza.pizzaId}} </p>
    <p>Pizza Size   :  {{pizza.size}} : {{pizza.sizePrice}} </p>
    <p>Pizza Crust  :  {{pizza.crust}} : {{pizza.crustPrice}}</p>
    <p>Pizza Sauce  :  {{pizza.sauce}} : {{pizza.saucePrice}}</p>
    <p>Pepperoni    :  {{pizza.pepperoni}} : {{pizza.pepperoniPrice}}</p>
    <p>Cheese       :  {{pizza.cheese}} : {{pizza. cheesePrice}}</p>
    <p>Mashrooms    :  {{pizza.mushrooms}} : {{pizza.mushroomsPrice}}</p>
    <p>GreenPeppers :  {{pizza.greenPeppers}}: {{pizza.greenPeppersPrice}}</p>
    <p>Bacon        :  {{pizza.bacon}} : {{pizza.baconPrice}}</p>
    <p>Sausage      :  {{pizza.sausage}} : {{pizza.sausagePrice}}</p>
    <p>Ham          :  {{pizza.ham}} : {{pizza.hamPrice}}</p>
    <p>Onions       :  {{pizza.onions}} : {{pizza.onionPrice}}</p>
    <p>subTotal     :  {{pizza.subtotal}} </p>
    <p> gst/qst    :  {{pizza.tax}}</p>
     <p>Total       :  {{pizza.total}} </p>
     <br><button type="submit" name="button" value="{{pizza.pizzaId}}">Order </button>
    <br>
    <br>
    Click <a href="/"> here </a> to continue.
 </div> 
</form>


{% endblock %}



