{% extends "master.html.twig" %}
{% block headAdd %}
 
 {% endblock %}
 
 {% block title %}Contact Info{% endblock title %}
 
{% block content %}

<div>
    
    <form>
<!--Grid row-->
<div class="row">

  <!--Grid column-->
  <div class="col-md-6 mb-4">

    <!--Card-->
    <div class="card card-cascade narrower">

      <!--Card image-->
      <div class="view view-cascade gradient-card-header blue-gradient">
        <h5 class="mb-0">Regular map</h5>
      </div>
      <!--/Card image-->

      <!--Card content-->
      <div class="card-body card-body-cascade text-center" id="googleMaps">

        <!--Google map-->
        <div id="map-container-google-8" class="z-depth-1-half map-container-5" style="height: 300px">
          <iframe src="https://maps.google.com/maps?q=laval%20canada&t=&z=13&ie=UTF8&iwloc=&output=embed"
            frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

      </div>
      <!--/.Card content-->

    </div>
    <!--/.Card-->

  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="col-md-6 mb-4">

    <!--Card-->
    <div class="card card-cascade narrower">

      <!--Card image-->
      <div class="view view-cascade gradient-card-header peach-gradient">
        <h5 class="mb-0">Custom map</h5>
      </div>
      <!--/Card image-->

      <!--Card content-->
      <div class="card-body card-body-cascade text-center">

        <!--Google map-->
        <div id="map-container-google-9" class="z-depth-1-half map-container-5" style="height: 300px">
          <iframe src="https://maps.google.com/maps?q=montreal%20canada&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
            style="border:0" allowfullscreen></iframe>
        </div>


      </div>
      <!--/.Card content-->

    </div>
    <!--/.Card-->

  </div>
  <!--Grid column-->

</div>
<!--Grid row-->
<a href="tel:123-456-7890p123">CLICK TO CALL</a>
<img class="map" src="https://maps.googleapis.com/maps/api/staticmap?center={{ item.latitude }},{{ item.longitude }}&size=640x250&zoom=15&markers=size:mid%7Ccolor:red%7Clabel:1%7C{{ item.latitude }},{{ item.longitude }}" />
</div>
<br>
<br>
<br>
<!-- Footer area-->
<footer>
    
 <!-- Footer -->
        <div class="fixed-bottom">
	<div class="row">
		<div class="col-lg-12 col-md-10 mx-auto text-center">
			<p>Copyright &copy;Rinal & Tony</p>
		</div>
        </div>
	</div>
 </footer>
    </form>
</div>

{% endblock content %}