{% extends "master.html.twig" %}
{% block content %}
     <div id="centerContent">
    <form id="form" >
    <p id="centerContent"> Review added Successfully...<br><br>
     Click <a href="/login"><u> here</u> </a> to continue.</p>
    </form>
         </div>
{% endblock %}
{% block title %}Registration completed{% endblock %}