{% extends "master.html.twig" %}

{% block headAdd %}
 
 {% endblock %}
 
 {% block title %}customer review ratings{% endblock title %}
 
{% block content %}
       <div id="centerContent">
<form method="post" id="form" class="textbox">
        <input class="textbox" type="text" name="name" value="{{v.name}}" placeholder="Name"><br><br>
        <input class="textbox" type="text" name="name" value="{{v.email}}" placeholder="Email"><br><br>
        <input class="textbox" type="text" name="name" value="{{v.comment}}" placeholder="Comment"><br><br>
        <input class="textbox" type="submit" value="submit">

    </form>
      </div>
    <!-- start   -->
    <section id="home-reviews">
					<div class="col-sm-10 ml-auto mr-auto text-center">
						<h2 class="">Read what some of our customers are saying</h2>
						<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="carousel-item active">
									<p class="review-body"><i class="fa fa-quote-left" aria-hidden="true"></i>
		We appreciate the way in which the restaurant is run. Like the way they welcome us<i class="fa fa-quote-right" aria-hidden="true"></i></p>
									<p class="review-name">Valued Customer at Buddies Pizza.</p>
									<div class="stars">
										<i class="fa fa-star fa-lg" aria-hidden="true"></i>
										<i class="fa fa-star fa-lg" aria-hidden="true"></i>
										<i class="fa fa-star fa-lg" aria-hidden="true"></i>
										<i class="fa fa-star fa-lg" aria-hidden="true"></i>
										<i class="fa fa-star-o fa-lg" aria-hidden="true"></i>
									</div>
								</div>
								<div class="carousel-item">
									<p class="review-body"><i class="fa fa-quote-left" aria-hidden="true"></i>
		I have always had a great experience eating here. <i class="fa fa-quote-right" aria-hidden="true"></i>
		</p>
									<p class="review-name">Jeremy Customer at Buddies Pizza.</p>
									<div class="stars">
										<i class="fa fa-star fa-lg" aria-hidden="true"></i>
										<i class="fa fa-star fa-lg" aria-hidden="true"></i>
										<i class="fa fa-star fa-lg" aria-hidden="true"></i>
										<i class="fa fa-star fa-lg" aria-hidden="true"></i>
										<i class="fa fa-star fa-lg" aria-hidden="true"></i>
									</div>
								</div>
								<div class="carousel-item">
									<p class="review-body"><i class="fa fa-quote-left" aria-hidden="true"></i>
		Simply amazing.<i class="fa fa-quote-right" aria-hidden="true"></i>
		</p>
									<p class="review-name">Matthew at Enterprise Rent A Car</p>
									<div class="stars">
										<i class="fa fa-star fa-lg" aria-hidden="true"></i>
										<i class="fa fa-star fa-lg" aria-hidden="true"></i>
										<i class="fa fa-star fa-lg" aria-hidden="true"></i>
										<i class="fa fa-star fa-lg" aria-hidden="true"></i>
										<i class="fa fa-star fa-lg" aria-hidden="true"></i>
									</div>
		
								</div>
								<div class="carousel-item">
									<p class="review-body"><i class="fa fa-quote-left" aria-hidden="true"></i>
		Your pizza is outstanding.<i class="fa fa-quote-right" aria-hidden="true"></i>
		</p>
									<p class="review-name">Ted at Fall River Enterprises, Inc.</p>
									<div class="stars">
										<i class="fa fa-star fa-lg" aria-hidden="true"></i>
										<i class="fa fa-star fa-lg" aria-hidden="true"></i>
										<i class="fa fa-star fa-lg" aria-hidden="true"></i>
										<i class="fa fa-star fa-lg" aria-hidden="true"></i>
										<i class="fa fa-star-o fa-lg" aria-hidden="true"></i>
									</div>
								</div>
								<div class="carousel-item">
									<p class="review-body"><i class="fa fa-quote-left" aria-hidden="true"></i>
		very professional and courteous.<i class="fa fa-quote-right" aria-hidden="true"></i>
		</p>
									<p class="review-name">Valued Customer at FedEx Ground</p>
									<div class="stars">
										<i class="fa fa-star fa-lg" aria-hidden="true"></i>
										<i class="fa fa-star fa-lg" aria-hidden="true"></i>
										<i class="fa fa-star fa-lg" aria-hidden="true"></i>
										<i class="fa fa-star fa-lg" aria-hidden="true"></i>
										<i class="fa fa-star fa-lg" aria-hidden="true"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
    <!--  end -->
  <div id="centerContent">
      <form method="post" id="form" class="review">
        <span class="heading">User Rating</span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <p>4.1 average based on 254 reviews.</p>
        <hr style="border:3px solid #f1f1f1">

        <div class="row">
          <div class="side">
            <div>5 star</div>
          </div>
          <div class="middle">
            <div class="bar-container">
              <div class="bar-5"></div>
            </div>
          </div>
          <div class="side right">
            <div>150</div>
          </div>
          <div class="side">
            <div>4 star</div>
          </div>
          <div class="middle">
            <div class="bar-container">
              <div class="bar-4"></div>
            </div>
          </div>
          <div class="side right">
            <div>63</div>
          </div>
          <div class="side">
            <div>3 star</div>
          </div>
          <div class="middle">
            <div class="bar-container">
              <div class="bar-3"></div>
            </div>
          </div>
          <div class="side right">
            <div>15</div>
          </div>
          <div class="side">
            <div>2 star</div>
          </div>
          <div class="middle">
            <div class="bar-container">
              <div class="bar-2"></div>
            </div>
          </div>
          <div class="side right">
            <div>6</div>
          </div>
          <div class="side">
            <div>1 star</div>
          </div>
          <div class="middle">
            <div class="bar-container">
              <div class="bar-1"></div>
            </div>
          </div>
          <div class="side right">
            <div>20</div>
          </div>
        </div>
   </form>
 </div>
    
  
{% endblock content%}
       