{% extends "master.html.twig" %}

{% block title %}Internal Error{% endblock %}

{% block content %}
    <h3>Internal Error</h3>
    <p>We've encountered an error.Our team of coding ninjas is already working on it.we apologize for the invocazie
        Please
    Check if You're login???? OR Not 
        <a href="/">click to continue</a></p>    
    <image src="/images/ninja-coder.png" width="200"/>
{% endblock content %}
