{% extends "master.html.twig" %}



 {% block title %}Login Page{% endblock title %}

{% block content %}
    
    {% if error %}
        <p class="errorMessage">Invalid login credentials, try again....or Register Before you login. <br><br> <a href="/register">register</a></p>
    {% endif %}
    <div id="centerContent">
   
 <form method="post" id="form">
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Log In</h5>
            <form class="form-signin">
              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus name="email" value="{{v.email}}">
                <label for="inputEmail">Email address</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="password">
                <label for="inputPassword">Password</label>
              </div>

            
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Log in</button>
              <hr class="my-4">
             
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
 </form>
    </div>
    {% endblock content %}