{% extends "master.html.twig" %}
{% block content %}
    <div id="centerContent">
<form method="post">
    <p> You're Logged in Successfully  as {{name}}... <br><br>
    Click <a href="/pizza_creation"> here </a> to continue.<br> OR <br>
     Click <a href="/logout"> here </a> to logout.</p>
    </form>
  </div>
{% endblock content%}
