{% extends "master.html.twig" %}

{% block content %}
     <div id="centerContent">
    <form id="form" >
    <p>User logged out successfully, <a href="/register">click to continue</a></p>
    </form>
         </div>
{% endblock content %}
