<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            
             <link rel="stylesheet" href="/styles.css" />
              <link rel="stylesheet" href="/login.css" />
        
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            
            
            <title>{% block title %}{% endblock %}</title>
            <meta name="description" content="Customize Pizza"/>
            <meta name="keywords" content="Pizza,Customize"/>
            
            
            {% block headAdd %}
            {% endblock %}
    </head>
    
    <body>
                    <!-- Main Menu Area-->
                 <!-- navigation bar-->
		<nav class="navbar navbar-expand-lg navbar-light fixed-top py-2" id="mainNav">
			<div class="container-fluid">
				<a class="navbar-brand js-scroll-trigger" href="#page-top" id="name">Buddy's Pizza</a>
					<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto my-2 my-lg-0">
				  <li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="/register" >Register</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="/login">Login</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="/logout">Logout</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="/contact">Contact us</a>
				  </li>
                                   <li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="/customer_review">Write a review</a>
				  </li>
				</ul>
			</div>
			</div>
		</nav>
<!--Carousel-->
<div class="container-fluid">
    
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" >
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<!--Slide One-->
				<div class="carousel-item active"  style="background-image: url('/images/Pizza4.jpg')">
					<div class="carousel-caption d-none d-md-block">
						<a class="display-4 bg-dark "></a>
					</div>
				</div>
				<!--Slide Two-->
				<div class="carousel-item" style="background-image: url('/images/pizza2.jpg')">
					<div class="carousel-caption d-none d-md-block">
						<a class="display-4 bg-dark"></a>
					</div>
				</div>
				<!--Slide Three-->
				<div class="carousel-item"  style="background-image: url('/images/pizza2.png')">
					<div class="carousel-caption d-none d-md-block">
						<a class="display-4 bg-dark"></a>
					</div>
				</div>
				<!--Slide Four-->
				<div class="carousel-item" style="background-image: url('/images/pizza5.jpg')">
					<div class="carousel-caption d-none d-md-block">
						<a class="display-4 bg-dark"></a>
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>

 
    {% block content %}{% endblock %}
</div>
<br>
<br>
<br>

<footer> 
 <!-- Footer -->
        <div class="fixed-bottom">
	<div class="row">
		<div class="col-lg-12 col-md-10 mx-auto text-center">
			<p>Copyright &copy;Rinal & Tony</p>
		</div>
        </div>
	</div>
 </footer>
    </body>
</html>