{% extends "master.html.twig" %}

{% block title %}Making Order{% endblock %}
{% block headAdd %}
    <script>
          function yesnoCheck() {
    if (document.getElementById('yesCheck').checked) {
        document.getElementById('ifYes').style.visibility = 'visible';
    }
    else document.getElementById('ifYes').style.visibility = 'hidden';
}
  </script>
  
{% endblock %}
{% block content %}
    
    {% if errorList %}
        <ul class="errorMessage">
            {% for error in errorList %}
                <li>{{error}}</li>
            {% endfor %}
        </ul>
{% endif %}
     <!--display:none //to hide
     display:block //to show-->
   <div id="centerContent">
	
        
  
        <form method="post" id="form">
            <h2>Service Option</h2><br><br>
            
        <div class="form-check form-check-inline">
         Delivery : <input type="radio"  name="rdservice"  onclick="javascript:yesnoCheck();" id="yesCheck" >
      Pickup : <input type="radio"  checked="checked" name="rdservice" onclick="javascript:yesnoCheck();" id="noCheck" >
        </div>
            <br><br>
     <div id="centerContent">
            <br><br>
            Name: <input type="text" name="username" value="{{v.name}}"><br><br>
        Contact number:<input type="text" name="contactNumber" value="{{v.contactNumber}}"><br><br>
        <div id="ifYes" style="visibility:hidden">
       Email: <input type="email" name="email" value="{{v.email}}"><br><br>
        Shipping Address :<input type="text" name="shippingAddress" value="{{v.shippingAddress}}"><br><br>
        Postal code:<input type="text" name="postalcode" value="{{v.postalCode}}"><br><br>
    </div>
        <input type="hidden" name="pizzaId" value="{{pizzaId}}"><br>
        <input type="submit" value="payment">
        </form>
	</div>
 
 
   </div>
{% endblock content %}