{# empty Twig template #}
{% extends "master.html.twig" %}

{% block title %}Payment{% endblock %}
{% block headAdd %}
    <script>
          function yesnoCheck() {
    if (document.getElementById('yesCheck').checked) {
        document.getElementById('ifYes').style.visibility = 'visible';
    }
    else document.getElementById('ifYes').style.visibility = 'hidden';
}
  </script>

{% endblock %}
{% block content %}
    
    {% if errorList %}
        <ul class="errorMessage">
            {% for error in errorList %}
                <li>{{error}}</li>
            {% endfor %}
        </ul>
{% endif %}
     <!--display:none //to hide
     display:block //to show-->
   <div id="centerContent">
	
       
        
        <form method="post" id="form">
            <h2>Payment</h2><br><br>
            
        <div class="form-check form-check-inline">
         Card : <input type="radio"  name="rdpayment"  onclick="javascript:yesnoCheck();" id="yesCheck" >
         Cash : <input type="radio"  checked="checked" name="rdpayment" onclick="javascript:yesnoCheck();" id="noCheck" >
        </div>
            <br><br>
            <div id="ifYes" style="visibility:hidden">
                <br>
            <label for="cname">Name on Card</label>
            <input type="text" id="cname" name="cardname" placeholder="John More Doe"><br><br>
            <label for="ccnum">Credit card number</label>
            <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444"><br><br>
            <label for="expmonth">Exp Month</label>
            <input type="text" id="expmonth" name="expmonth" placeholder="September"><br><br>
            <label for="expyear">Exp Year</label>
            <input type="text" id="expyear" name="expyear" placeholder="2018"><br><br>
            <label for="cvv">CVV</label>
                <input type="text" id="cvv" name="cvv" placeholder="352">
              </div>
              
            <input type="hidden" name="pizzaId" value="{{pizzaId}}"><br>
        <input type="submit" value="payment">
        <br><br>
    Click <a href="/pizza_creation"> here </a> to continue.<br> OR <br>
    Click <a href="/logout"> here </a> to logout.</p>
 
     </form>
        </div>
       {% endblock content%}