{# empty Twig template #}
{% extends "master.html.twig" %}
{% block content %}
    <div id="centerContent">
<form method="post">
    <p> Payment Successfully   <br><br>
    Click <a href="/register"> here </a> to continue.<br> OR <br>
     Click <a href="/logout"> here </a> to logout.</p>
    </form>
  </div>
{% endblock content%}
