{% extends "master.html.twig" %}

{% block title %}Pizza Creation Page{% endblock %}

{% block content %}
    
    <div id="centerContent">
        <form method="post" id="form">
            <h2>Create Your own</h2><br><br>
          <label> Size : </label>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="materialInline1" name="rdSize" {{v.small}} value="small" >
          <label class="form-check-label" for="materialInline1">Small</label>
        </div>

        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="materialInline2" checked="true" name="rdSize" {{v.medium}} value="medium">
          <label class="form-check-label" for="materialInline2">Medium</label>
        </div>
        
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="materialInline2" name="rdSize" {{v.large}} value="large">
          <label class="form-check-label" for="materialInline2">Large</label>
        </div>

        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="materialInline3" name="rdSize" {{v.xlarge}} value="X-large">
          <label class="form-check-label" for="materialInline3">X-large</label>
        </div>
          <br><br>
<!--=======================================================================================================================================================-->
        <label> Crust : </label>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="materialInline1" name="rdCrust" {{v.thin}} value="thin" >
          <label class="form-check-label" for="materialInline1">Thin</label>
        </div>

        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="materialInline2" checked="true" name="rdCrust" {{v.regular}} value="regular">
          <label class="form-check-label" for="materialInline2">Regular</label>
        </div>
        
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="materialInline2" name="rdCrust" {{v.stuffed}} value="stuffed">
          <label class="form-check-label" for="materialInline2">Stuffed</label>
        </div>
          <br><br>
          
<!--=======================================================================================================================================================-->

  <label> Sauce : </label>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="materialInline1" checked="true" name="rdsauce" {{v.pizza}} value="pizza" >
          <label class="form-check-label" for="materialInline1">Pizza</label>
        </div>

        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="materialInline2" name="rdsauce" {{v.bbq}} value="bbq">
          <label class="form-check-label" for="materialInline2">BBQ</label>
        </div>
        
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="materialInline2" name="rdsauce" {{v.nosauce}} value="nosauce">
          <label class="form-check-label" for="materialInline2">No sauce</label>
        </div>
           <br><br>
<!--=======================================================================================================================================================-->
 <label> Pepperoni : </label>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="materialInline1" name="rdpepperoni" {{v.extrapepperoni}} value="extragreenPeppers" >
          <label class="form-check-label" for="materialInline1">2X Pepperoni</label>
        </div>
          
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="materialInline2" name="rdpepperoni" {{v.pepperoni}} value="pepperoni">
          <label class="form-check-label" for="materialInline2">pepperoni</label>
        </div>
        
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="materialInline2" checked="true" checked="true" name="rdpepperoni" {{v.nopepperoni}} value="nopepperoni">
          <label class="form-check-label" for="materialInline2">No Pepperoni</label>
        </div>
          <br><br>         
<!--=======================================================================================================================================================-->

  <label> Cheese : </label>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="materialInline1" name="rdcheese" {{v.extramozzarella}} value="extramozzarella" >
          <label class="form-check-label" for="materialInline1">2X Mozzarella</label>
        </div>

        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="materialInline2" checked="true" name="rdcheese" {{v.mozzarella}} value="mozzarella">
          <label class="form-check-label" for="materialInline2">Mozzarella</label>
        </div>
        
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="materialInline2" name="rdcheese" {{v.nomozzarella}} value="nomozzarella">
          <label class="form-check-label" for="materialInline2">No mozzarella</label>
        </div>
           <br><br>
<!--=======================================================================================================================================================-->

  <label> Mushrooms : </label>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="materialInline1" name="rdmushrooms" {{v.extramushrooms}} value="extramushrooms" >
          <label class="form-check-label" for="materialInline1">2X Mushrooms</label>
        </div>
          
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="materialInline2" name="rdmushrooms" {{v.mushrooms}} value="mushrooms">
          <label class="form-check-label" for="materialInline2">Mushrooms</label>
        </div>
        
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="materialInline2" checked="true" name="rdmushrooms" {{v.nomushrooms}} value="nomushrooms">
          <label class="form-check-label" for="materialInline2">No Mushrooms</label>
        </div>
           <br><br>
<!--=======================================================================================================================================================-->
 <label> GreenPeppers : </label>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="materialInline1" name="rdgreenPeppers" {{v.extragreenPeppers}} value="extragreenPeppers" >
          <label class="form-check-label" for="materialInline1">2X GreenPeppers</label>
        </div>
          
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="materialInline2" name="rdgreenPeppers" {{v.greenPeppers}} value="greenPeppers">
          <label class="form-check-label" for="materialInline2">GreenPeppers</label>
        </div>
        
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="materialInline2" checked="true" name="rdgreenPeppers" {{v.nogreenPeppers}} value="nogreenPeppers">
          <label class="form-check-label" for="materialInline2">No GreenPeppers</label>
        </div>
           <br><br>
<!--=======================================================================================================================================================-->
<label> Bacon : </label>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="materialInline1" name="rdbacon" {{v.extrabacon}} value="extrabacon" >
          <label class="form-check-label" for="materialInline1">2X Bacon</label>
        </div>
          
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="materialInline2" name="rdbacon" {{v.bacon}} value="bacon">
          <label class="form-check-label" for="materialInline2">Bacon</label>
        </div>
        
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="materialInline2" checked="true" name="rdbacon" {{v.nobacon}} value="nobacon">
          <label class="form-check-label" for="materialInline2">No bacon</label>
        </div>
           <br><br>
<!--=======================================================================================================================================================-->

 <label> Sausage : </label>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="materialInline1" name="rdsausage" {{v.extrasausage}} value="extrasausage" >
          <label class="form-check-label" for="materialInline1">2X Sausage</label>
        </div>
          
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="materialInline2" name="rdsausage" {{v.sausage}} value="sausage">
          <label class="form-check-label" for="materialInline2">Sausage</label>
        </div>
        
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="materialInline2" checked="true" name="rdsausage" {{v.nosausage}} value="nosausage">
          <label class="form-check-label" for="materialInline2">No Sausage</label>
        </div>
           <br><br>
<!--=======================================================================================================================================================-->
  
 <label> Ham : </label>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="materialInline1" name="rdham" {{v.extraham}} value="extraham" >
          <label class="form-check-label" for="materialInline1">2X Ham</label>
        </div>
          
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="materialInline2" name="rdham" {{v.ham}} value="ham">
          <label class="form-check-label" for="materialInline2">Ham</label>
        </div>
        
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="materialInline2" checked="true" name="rdham" {{v.noham}} value="noham">
          <label class="form-check-label" for="materialInline2">No Ham</label>
        </div>
           <br><br>
<!--=======================================================================================================================================================-->


 <label> Onions : </label>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="materialInline1" name="rdonions" {{v.extraonions}} value="extraonions" >
          <label class="form-check-label" for="materialInline1">2X Onions</label>
        </div>
          
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="materialInline2" name="rdonions" {{v.onions}} value="onions">
          <label class="form-check-label" for="materialInline2">Onions</label>
        </div>
        
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="materialInline2" checked="true" name="rdonions" {{v.noonions}} value="noonions">
          <label class="form-check-label" for="materialInline2">No Onions</label>
        </div>
           <br><br>
<!--=======================================================================================================================================================-->
    <br><button type="submit" value="confirm"> Order  </button>

    <br>
    <br>
   
 </div> 
</form>
</div>

{% endblock %}

