{% extends "master.html.twig" %}

{% block headAdd %}
 <script>
            $(document).ready(function() {
                $('input[name=email]').keyup(function() {
                    var email = $('input[name=email').val();
                    $('#isTaken').load("/isemailregistered/" + email);
                });
            });
        </script>
 {% endblock %}
 
 {% block title %}Registration Page{% endblock title %}
 
{% block content %}
    {% if errorList %}
        <ul class="errorMessage">
            {% for error in errorList %}
                <li>{{error}}</li>
            {% endfor %}
        </ul>
{% endif %}
  <div id="centerContent">
<form method="post" id="form" class="textbox">
    
    <input class="textbox" type="text" name="name" value="{{v.name}}" placeholder="Name"><br><br>
    <input class="textbox" type="text" name="email" value="{{v.email}}" placeholder="Email"> <span class="errorMessage" id="isTaken"></span><br><br>  
    <input class="textbox" type="password" name="pass1" placeholder="Password"><br><br>
    <input class="textbox" type="password" name="pass2" placeholder="Confirm Password"><br><br>
    <input class="textbox" type="text" name="address" value="{{v.address}}" placeholder="Address"><br><br>
    <input class="textbox" type="text" name="phone" value="{{v.phone}}" placeholder="Phone"><br><br>
    <input class="textbox" type="submit" value="Register">
</form>
  </div>
{% endblock content%}

