{% extends "master.html.twig" %}


 
{% block content %}
    
  <div id="centerContent">
      <form method="post" >
          <h2> Welcome To Buddy's Pizza </h2>
          </form>
  </div>
{% endblock content%}

